[2021-12-03 04:17] im-coder-lg opened #5 "[Bug 🐛 ]: Github Actions"
So, let's get straight to the point.
We both have a Windows computer, so even if I switch to Linux(not yet, I need to give my PC, maybe by Saturday, I hope so), you can test Windows. We know that Mac and Linux use the `bash` shell. Well, Mac uses Zsh, but the set of commands are awfully similar.
So, this is my idea. If the shell works, it could mean that the OS build also would work.
About the .Ap

[2021-12-03 06:22] im-coder-lg commented on #5
And, the Mica blur(the app blur that resembles Windows 11's blur) is good. Actually, too good. If I were to use the light mode on a light website, it seems too bright, so we need to control that. Maybe we could do this the same way we manage dark mode.

[2021-12-03 08:08] sumeshir26 commented on #5
@im-coder-lg The app doesn’t have mica, but it has acrylic(And it doesn’t  even work!), so I don’t really get what mica you are talking about

[2021-12-03 08:13] sumeshir26 commented on #5
@im-coder-lg About the windows installer, I was planning to build it next week, which automatically creates a shortcut for the Start Menu. I still think that I wil create a action for windows.

[2021-12-03 09:23] im-coder-lg commented on #5
I recently read an article and it also had a part of Windows 11 theming. Right now, you have a kinda blossoming thing(idk what it is) as your desktop image. In dark mode(Windows 11 dark mode), if you try opening the Start menu, it'll have a kinda great acrylic blur that Microsoft calls "Mica". That's what I meant.

Feel free to(regarding actions). But what software are you using for the installer?

[2021-12-03 11:01] sumeshir26 commented on #5
@im-coder-lg I will probably use a bat file. Can you provide examples for when the acrylic is not good?

[2021-12-03 11:26] sumeshir26 commented on #5
@im-coder-lg The acrilic does not display for me? Can you share a screenshot?

Yeah, dark mode and transperency should go in settings, will add that soon(I already have the icon in the assets folder). For the always on top, it think it should stay because my inspiration for the design was this:
![image](https://user-images.githubusercontent.com/68823982/144594980-a3897484-e6eb-4c08-971c-bb1ba83f89

[2021-12-03 13:36] im-coder-lg commented on #5
![image](https://user-images.githubusercontent.com/76845820/144611008-732a5aa8-45ce-4fc8-b68d-b8eacd423958.png)
That's pure overexposure. If there was a toggle for the Mica blur(it's actually that since the blur represents Windows 11, it screams Windows 11 all over), that'd be great.
Still, the sound doesn't work for Windows 7:
[code]
Git bash btw

[2021-12-03 13:40] im-coder-lg commented on #5
Regarding this, we might need some requirements. Maybe I will produce the batch file and upload the code here.
About the shell file, I will try that on Gitpod.

[2021-12-03 15:50] im-coder-lg commented on #5
A work I thought would take till Sunday is done.
The (crude) installer:
[code]
We might've done it.
Windows Installer halfway!
We need to check the Windows 11 context menu(right-click menu on Explorer when you right-click a file and another one of the desktop) so that I'd add that detail also, and maybe also create an ASCII banner containing the word "TimerX". We could add that in the beginning of

[2021-12-03 15:56] im-coder-lg commented on #5
About this:
https://github.com/sumeshir26/TimerX/blob/c6b8da402bb8578fafcc3f0b03077ea8cd6b5776/main.py#L126
I recommend `Time's up!` or `Timer over`, it has to be kind of perfect.

[2021-12-04 03:17] sumeshir26 commented on #5
@im-coder-lg I’m going to be out of town till Monday, so i can’t review anything till then

[2021-12-04 03:20] im-coder-lg commented on #5
I'll be done with the installer by then.

[2021-12-04 07:01] sumeshir26 commented on #5
Will add that…

[2021-12-04 07:02] sumeshir26 opened #7 "Get rid of unneccesary files"
### Discussed in https://github.com/sumeshir26/TimerX/discussions/6

<div type='discussions-op-text'>

<sup>Originally posted by **not-nef** December  3, 2021</sup>
@sumeshir26 you should remove some unneccesary files and dirs like the .spec files, __pycache__ or .vscode imo</div>

[2021-12-04 07:04] sumeshir26 commented on #7
@not-nef Hi, about those files, when I first created this project, it did not have a gitignore. So, those files stayed. I will delete those soon

[2021-12-04 07:28] sumeshir26 commented on #5
@im-coder-lg How about this for the github action(we can modify this for matrix os):https://anshumanfauzdar.medium.com/using-github-actions-to-bundle-python-application-into-a-single-package-and-automatic-release-834bd42e0670

[2021-12-04 07:50] im-coder-lg commented on #7
Please exclude the .spec file, we need it for the builds.

[2021-12-04 07:56] im-coder-lg commented on #5
I have an idea. Let's use two of them. One without the `Create a release` steps and one with it(but without timings/push+merge triggers). I have an idea, so I will work on it. make sure it works on my fork and open up a PR here.

[2021-12-04 16:42] not-nef commented on #7
there is a file called help.spec but no help.py, so what is it for?

[2021-12-05 02:49] im-coder-lg commented on #7
idk, will check that soon.

[2021-12-05 07:02] im-coder-lg commented on #7
I think it generates a strange help file. I will inspect that later.

[2021-12-06 08:36] #7 closed

[2021-12-11 02:47] #5 closed

[2021-12-18 13:18] not-nef opened #15 "app.wm_attributes(„-transparent“, „green“)"
Hey There!

I am trying to run the script on macos 10.13.6 and on line 24 it throws me the following Error:

[code]

When i delete that line, the application seems to run fine.

[2021-12-18 16:25] im-coder-lg commented on #15
Maybe we need the hex code, @sumeshir26 let's test this in the morning.

[2021-12-18 17:37] not-nef commented on #15
boolean means true or false right?

[2021-12-19 01:21] im-coder-lg commented on #15
Ohh... I absolutely ignored that... But let's try a hex code in place of green, just to make sure.

[2021-12-19 05:56] not-nef commented on #15
Ok, i found out, that this is because of the OS.

[code]
should absolutely work fine.

But for macos you have to do:
[code]

[2021-12-19 06:34] sumeshir26 commented on #15
@not-nef Okay, I will add that.

[2021-12-19 07:58] im-coder-lg commented on #15
Imitating the platform code will be perfect for this.

[2021-12-20 03:57] sumeshir26 commented on #15
@not-nef I fixed this on your fork

[2021-12-20 05:31] not-nef commented on #15
Thanks

[2021-12-20 07:55] #15 closed

[2021-12-20 19:20] not-nef opened #20 "Error while Running Disk Image"
ok, so, i tried building a disk image from the current repo state (i only excluded the line mentioned in the previous issue) and when running the app, it throws me the following error:

[code]

F

[2021-12-21 03:06] im-coder-lg commented on #20
So it's a Mac Mini... Can it run Catalina?

[2021-12-21 03:09] im-coder-lg commented on #20
I don't understand what this means:
[code]
Is it saying that it couldn't find the Python library?

[2021-12-21 03:10] sumeshir26 commented on #20
@im-coder-lg Yeah, python doesent seem to run, now running a action which will generate a DMG to give to @not-nef

[2021-12-21 03:10] im-coder-lg commented on #20
:+1:

[2021-12-21 03:10] sumeshir26 commented on #20
[Uploading TimerX(1).zip…]()
@not-nef Try This

[2021-12-21 03:31] im-coder-lg commented on #20
Link doesn't work.

[2021-12-21 03:40] sumeshir26 commented on #20
@not-nef Try this:
[TimerX(1).zip](https://github.com/sumeshir26/TimerX/files/7749380/TimerX.1.zip)

[2021-12-21 05:27] not-nef commented on #20
no, it cant run any newer version then it already does.

[2021-12-21 05:37] sumeshir26 commented on #20
@not-nef Run that DMG(It should work)

[2021-12-21 05:38] im-coder-lg commented on #20
It's just a redirect, try uploading the DMG but this time, use the popup
method.

[2021-12-21 05:38] not-nef commented on #20
It says i need macos 10.14 or newer.

ill MAYBE be able to test it on a mac with big sur, but i cant promise.

[2021-12-21 05:41] im-coder-lg commented on #20
Wow. High Sierra ain't supported anymore. @not-nef best is to switch to
Linux since my switching will take a LOT of time(lazy me).

Well, if it is kind of like a company laptop, DO NOT try the DMG on it. I
bet they'll deactivate the laptop after noticing an "unknown" program on
it.

[2021-12-21 05:50] not-nef commented on #20
epic quote fail

no its not a company laptop, its the macmini of my dad.

[2021-12-21 07:04] im-coder-lg commented on #20
Does it have Big Sur? If it does, tell your dad that you want to test an installer of an open-source project and that you will uninstall it after the test, since that could relieve your dad's mind about viruses and it will free up some disk space.

[2021-12-21 09:44] im-coder-lg commented on #20
Also, noticed this(you forgot to delete your edit):

I am not offended, it's Vivaldi Mail. Anyway, back to the topic. Should we add a Python Library in the so-called `@executable-path`? Moreover @sumeshir26 can you run the release draft action of Windows and macOS? I wanna try a teardown with PeaZip. You don't need to send a link to download, you can just run the action and inform me, I'll take ca

[2021-12-21 10:33] sumeshir26 commented on #20
In the actions tab, Look at artifacts produced in the latest run of the Release Build workflow.

[2021-12-21 10:35] sumeshir26 commented on #20
You know what, I will give you write acess to this repo so you can do these things without waiting for me.

[2021-12-21 12:32] im-coder-lg commented on #20
I didn't recieve the notif yet, can you check that?

[2021-12-21 16:16] not-nef commented on #20
Bad news, i tried running the app on a big sur mac. If i open it, you can see TimerX in the Menu bar (the gui doesnt load tho) and after a split second it just closes.

i suggest dropping support for macos.

[2021-12-21 16:49] im-coder-lg commented on #20
We need some logs, can you try making a recording + install logs to help us in this? Also, I will have to use PeaZip for a teardown so prepare for that too!

[2021-12-21 16:56] not-nef commented on #20
this is getting a bit too complicated for me, and i wont install anything on my dads mac as he doesnt like that (not because he doesnt know anything about it, but he just doesnt want it dont ask why).

[2021-12-21 16:56] not-nef commented on #20
god why is macos so important to you guys

[2021-12-22 01:46] im-coder-lg commented on #20
Well, if you look at the computer(desktop/laptop) share in today's market and just compare it to the air share, Windows is like Nitrogen, macOS is like Oxygen and Linux is like the remaining 1% of mixed gases(different distros). We could use the Wine compatibility layer but that needs to be installed via HomeBrew. So we thought of making MSIs, which are successful, then DMGs, RPMs and using a Linu

[2021-12-22 02:52] sumeshir26 commented on #20
@not-nef Thanks for your help, will tell when MacOS support is re-added.

[2021-12-22 02:53] sumeshir26 commented on #20
@im-coder-lg Continue with your teardown...

[2021-12-22 11:00] im-coder-lg commented on #20
Hey @sumeshir26 since we have separate actions for each OS, can we remove the old `release.yml` too? Best done in @not-nef's fork since that'd be easier.

[2021-12-22 11:06] sumeshir26 commented on #20
No! If you run that, it successfully generates one for all platforms and creates a release successfully. I spent a week on that!

[2021-12-22 11:09] im-coder-lg commented on #20
Well, didn't do that! Phew!

[2021-12-22 11:12] im-coder-lg commented on #20
Anyway, teardown results:
[TimerX.zip](https://github.com/sumeshir26/TimerX/files/7762237/TimerX.zip)
macOS seems to run Windows apps though(check the `TimerX.app/Contents/MacOS` directory)... Apple, what have you done here?

[2021-12-22 11:18] im-coder-lg commented on #20
Can I test that? Just curious. Also, did you mark the release as a draft(in the YAML code)? If you didn't, I will, since we need to document the changes directly, not via the GitHub Actions. There's a new feature that allows you to automatically document all changes, so I will make sure it creates a draft release and try the auto release note feature. If it releases TimerX, I'd never ever use the

[2021-12-22 11:21] sumeshir26 commented on #20
Yes, pease!

[2021-12-22 11:54] im-coder-lg commented on #20
Well, failed in the macOS steps, fixing that in my branch. For the delay, I was checking my notifs and clearing some Vivaldi clutter.

[2021-12-23 11:04] im-coder-lg opened #23 "Request to make a documentation/homepage site using SSGs"
We could also use Jekyll that can use Vercel... Let's take Jekyll, that's widely supported and we will use Netlify for the website deployment since it has Netlify CMS that could allow us to edit without going to GitHub.

_Originally posted by @im-coder-lg in https://github.com/sumeshir26/TimerX/issues/21#issuecomment-1000204245_

In another project called Xplorer(it's best to quote this here so th

[2021-12-23 11:06] im-coder-lg commented on #23
Which one can we use for the website? We have Vercel as deployment+hoster, Netlify as a solid alternative if we use their CMS, and GitHub Pages(no PR preview like Vercel `:(`) too.

[2021-12-23 13:26] im-coder-lg commented on #23
I'm assigning this to myself since I am kind of an expert when it comes to this.

[2021-12-23 13:32] im-coder-lg commented on #23
Documentation: https://pmarsceill.github.io/just-the-docs/

Homepage... Let's use CODEDOC, I told you above that it has a special Markdown syntax for it and using that, we could make users see Light mode and Dark Mode of TimerX, all with a click of a button.
It's smooth too.

[2021-12-23 14:06] im-coder-lg commented on #23
Started development: [`website`](https://github.com/im-coder-lg/TimerX-fork/tree/website).

[2021-12-25 04:53] im-coder-lg commented on #23
/ping @sumeshir26

[2021-12-25 09:29] not-nef opened #24 "Request to merge `configurator.py` and `main.py`"
If we dont do that, we cant change the theme in the settings window because of circular imports. pls give permission to merge the scripts. thx

[2021-12-25 09:34] not-nef commented on #24
To make sure the code isnt too messy i made this:
![Screenshot 2021-12-25 103410](https://user-images.githubusercontent.com/83908932/147382235-c672489f-c7d7-4416-8641-10861ac01d5b.png)

[2021-12-25 10:29] im-coder-lg commented on #24
@not-nef first off, I think it might increase the size of the main.py file, second, it could extend code lines thereby making it too long(I expect a TL;DR for long lines of code) and that could make finding code harder.
But, if we are able to make a better link between the main.py and configurator.py, we could be in luck since the files will share data with each other like theming, icons, properti

[2021-12-25 12:13] not-nef commented on #24
@im-coder-lg vscode users can collapse functions for a better overview.

btw we literally cant change the theme in the settings if they are in seperate files. its literally impossible

[2021-12-25 12:17] not-nef commented on #24
https://gist.github.com/not-nef/ed6e612634df8638159e07adf9f1df8f

this is the current main file, it has a settings page with working theme switching ^-^

[2021-12-25 13:01] im-coder-lg commented on #24
Can you _link_ two files?

[2021-12-25 13:08] im-coder-lg commented on #24
That works, but it seems to take some time to load upon starting, but I think it's normal. Plus, icons get synced, and more.
Can we make a PR to the `settings` branch @sumeshir26? 400 lines of code but I think it's worth it! Also, push _your_ local changes to the branch so that @not-nef can get the changes and add those codes to the main file himself.
@not-nef can you add a bit more spacing betwee

[2021-12-25 13:08] im-coder-lg commented on #24
Let's add a toggle for blur(exclusively for Windows) too.

[2021-12-25 13:20] sumeshir26 commented on #23
Okay, tell me when its done

[2021-12-25 13:39] sumeshir26 commented on #24
I cant. I am out of townn so I cant get to my computer currenty

[2021-12-25 13:47] not-nef commented on #24
lets move this to the pr

[2021-12-25 13:47] #24 closed

[2021-12-25 14:12] sumeshir26 commented on #23
How do I test this? Is this on vercel?

[2021-12-25 15:46] im-coder-lg commented on #23
Not yet. I need to configure the websites, add theming to CODEDOC so that it doesn't look too alien, check the JTD theme, but I will make a PR after I succeed on them. PS: It _will_ have a lot of commits.

[2021-12-25 15:49] im-coder-lg commented on #23
Right now, here's what I've accomplished:
- Get JTD and CODEDOC(boilerplate, need to configure better)
- Modify it a bit(extensive modifications in CODEDOC part_

What I must do soon:
- [ ] Master it
- [ ] Get syntax
- [ ] Make sure front matter is top-notch
- [ ] Configure TOC on CODEDOC sidebar(button replacing needed)
- [ ] Add some more configuration, test on Vercel
- [ ] Deploy!

[2021-12-26 03:30] im-coder-lg commented on #24
I could help. We could add the toggle exclusively to Windows, maybe through the platform code.

[2021-12-26 05:53] not-nef commented on #24
platform code?

[2021-12-26 05:56] sumeshir26 commented on #24
Platform.system()

[2022-01-01 05:56] #23 closed

[2022-01-03 02:56] sumeshir26 commented on #20
Reopening because not fixed

[2022-01-03 09:31] not-nef commented on #20
okay, i thought you dropped macos support, my fault

[2022-01-06 06:25] im-coder-lg opened #35 "Vercel deployment request(now Netlify)"
I thought we were going to open Vercel deploys yesterday, is it done? If not, tell me here and I'll help out with the creation.

[2022-01-06 06:28] sumeshir26 commented on #35
@im-coder-lg No, my github account is just not linking!

[2022-01-06 06:32] im-coder-lg commented on #35
Sign up with an email and then try GitHub linking.

[2022-01-06 06:32] im-coder-lg commented on #35
Or try signing up from other devices than your PC.

[2022-01-06 06:33] im-coder-lg commented on #35
My login worked, maybe it's your network, the ping extended. Try using mobile hotspots or any fast network.

[2022-01-06 06:36] sumeshir26 commented on #35
Did it ask you to put in a phone number?

[2022-01-06 06:48] im-coder-lg commented on #35
Nah.

[2022-01-06 06:50] im-coder-lg commented on #35
I just signed up with GitHub. Maybe that's a new safety feature, it'd try setting MFA codes, but _you_ try with GitHub on a mobile or any other computer.

[2022-01-06 06:56] im-coder-lg commented on #35
Alright, new guide!
1. Go to https://vercel.com/signup/email? and enter any email of yours. DO NOT CLOSE THAT TAB.
2. They'll send an email. Go to your inbox and open that. Click the button they give.
3. You'll get a popup that you are logged in, go to that signup tab and link your GitHub.
4. Et voilà! You are on your Vercel. THis made me create another account too, but remember, there ain't passw

[2022-01-06 07:08] im-coder-lg commented on #35
Wait, are you using other services than Vercel? It didn't ask me any phone numbers. Don't Google the link, use the one I gave.

[2022-01-07 08:56] im-coder-lg commented on #35
/ping @sumeshir26 did my guide work?

[2022-01-07 09:26] sumeshir26 commented on #35
I always get this error:
![image](https://user-images.githubusercontent.com/68823982/148522692-462f7e19-33a8-4a59-b813-64ca6244a660.png)

[2022-01-07 09:36] im-coder-lg commented on #35
Whoa. Vercel didn't ask me any phone numbers. Have you tried waiting?

[2022-01-07 09:37] im-coder-lg commented on #35
Have you tried all the mobile numbers at your home? I don't think Vercel ever needs phone numbers. It didn't ask me at all.

[2022-01-07 09:44] im-coder-lg commented on #35
I think this might be with ProtonMail(check your image's URL). I signed up with one(yeah it's true I do have a ProtonMail) and it didn't ask me anything. Do you have VPNs? If not, try this:
On your PC, try signing up and authenticate from your mobile, it might work.

[2022-01-07 09:45] im-coder-lg commented on #35
Well, now it did lol. Vercel requested my phone number.

[2022-01-07 09:46] im-coder-lg commented on #35
I am in my dupe account now.
My OTP worked man, but for that I can't give my phone number.

[2022-01-07 09:53] im-coder-lg commented on #35
@sumeshir26 does anyone in your family have a Vercel account? It could be that they registered the mobile number to them right? Have you checked Netlify too?

[2022-01-07 10:05] im-coder-lg commented on #35
Wait. Let's go back the history track. When I used a Vivaldi Webmail account, it didn't ask me anything but when I used _ProtonMail_, it asked. So it might be the email. Try making a Vivaldi account. It will ask you for a mobile number but my signup worked in a few seconds. It _has_ to be the email that causes the problem.

[2022-01-07 10:49] sumeshir26 commented on #35
Il try using neltify

[2022-01-07 11:16] im-coder-lg commented on #35
Problem is, Netlyify has a 100 GB of bandwidth. IDK if it's enough.

[2022-01-08 03:08] im-coder-lg commented on #35
@sumeshir26 does Netlify work?

[2022-01-08 03:10] sumeshir26 commented on #35
Doing that now

[2022-01-08 03:11] im-coder-lg commented on #35
Also, I am finding how to enable PR deployment previews. That can help us see a preview of the website in the person's PR. Vercel does it better, that's why I asked you for checking Vercel.

[2022-01-08 03:13] im-coder-lg commented on #35
Make sure [this](https://docs.netlify.com/configure-builds/repo-permissions-linking/#authentication-with-the-netlify-github-app) is done, so that [this](https://docs.netlify.com/site-deploys/deploy-previews/) can work.

[2022-01-08 03:17] im-coder-lg commented on #35
Additionally(I said _additionally_, so please remember that), you could grant me access to the Netlify team, it always creates one at startup, so if you want, you could add me and I might be able to help you on deploy errors. They always redirect back to Netlify.

[2022-01-08 03:23] sumeshir26 commented on #35
@im-coder-lg Thats exactly what I was going to ask you because the build succeeds but it does not work.

[2022-01-08 03:25] im-coder-lg commented on #35
Well, head to the Members tab, and add my Protonmail. Same username without dashes(`imcoderlg`).

[2022-01-08 03:33] sumeshir26 commented on #35
Now, its asking me for either money or an open source account, applying for one

[2022-01-08 03:34] im-coder-lg commented on #35
Woah. Let _me_ see that!

[2022-01-08 03:34] im-coder-lg commented on #35
I'll invite you to my team, just to see that. PS: I know the email, it's on your screenshot.

[2022-01-08 03:36] im-coder-lg commented on #35
Well, it's true. You _do_ need to pay. Try Vercel again.

[2022-01-08 03:40] im-coder-lg commented on #35
This time, DO NOT USE your ProtonMail. Go to [`vivaldi.net`](https://vivaldi.net) and sign up. Give a mobile number, it will authenticate and then head to [`https://webmail.vivaldi.net`](https://webmail.vivaldi.net) and log in to your Vivaldi account. THen use that same email to log in. It _will_ work.

[2022-01-08 03:51] im-coder-lg commented on #35
/ping @sumeshir26 does this work?

[2022-01-08 09:16] im-coder-lg commented on #35
I see that you installed Netlify. Go to Settings > Build and deploy and edit the Build settings. Change the build directory to `docs`. Make sure deploy logs are public so that I can inspect them. I will have to test some things from my end, so wait for my next reply, I need to fix deployment.

[2022-01-08 11:12] im-coder-lg commented on #35
Also, two things:
1. Merge #41
2. Allow reviewer access for me.
That's all for now.

[2022-01-08 12:13] im-coder-lg commented on #35
/ping @sumeshir26 have you configured Netlify?

[2022-01-09 03:25] im-coder-lg commented on #35
/ping @sumeshir26

[2022-01-09 03:36] sumeshir26 commented on #35
What do you mean?

[2022-01-09 03:46] im-coder-lg commented on #35
I need the URL, and I sent a permission from my Netlify to yours for joining as a reviewer. PS: It's free and unlimited.

[2022-01-09 03:47] im-coder-lg commented on #35
No worries, found the URL: https://timerx-app.netlify.app

[2022-01-09 06:00] sumeshir26 commented on #35
Yay!

[2022-01-09 06:00] #35 closed

[2022-01-09 07:36] im-coder-lg commented on #35
Also, about the reviewer access, did you receive it?

[2022-01-09 08:51] im-coder-lg commented on #35
Check this: https://github.com/sumeshir26/TimerX/pull/41#issuecomment-1007941733

[2022-01-17 02:58] sumeshir26 opened #50 "Add UI For More Settings"

[2022-01-17 03:38] im-coder-lg commented on #50
Consider adding this to this [project](https://github.com/orgs/TimerX-App/projects/1)?

[2022-01-17 04:07] sumeshir26 commented on #50
I added it alreaday!

[2022-01-17 05:27] not-nef commented on #50
I told you that i will do it after 1.0. Why did you make an issue?

[2022-01-17 05:46] sumeshir26 commented on #50
No, I just created it to add to the roadmap

[2022-01-17 05:57] not-nef commented on #50
Cool

[2022-01-17 06:21] not-nef opened #52 "Clean Up Repository"
The repository definitely needs some cleaning. Its just a big mess atm. A few things i suggest doing:

- Remove the `.vscode` folder since it isnt needed

- Put all the `requirements*.txt` in a single `dependencies` folder (dont forget to update the docs)

- Rename the `docs` folder to `website`, create a new folder called `docs` and put `CODE_OF_CONDUCT.md`, `CONTRIBUTING.md`, `LICENSE`, `README.

[2022-01-17 06:21] im-coder-lg commented on #50
Also, need some help. I made a secret repo only you guys can see(cuz it's private). I am making a profile README and need some text. If you have any ideas, edit that and I'll straighten it out/make it simple. Then once it's ready, we'll change the repo visibility.

[2022-01-17 06:23] not-nef commented on #50
Ill look into it when im home (around 5pm Middle european time)

[2022-01-17 06:25] im-coder-lg commented on #52
Nice idea, but I did try that. `docs` seems a simpler idea than `website` and we could add the same data of CODE_OF_CONDUCT.md, etc. in the documentation. I think the `Scripts` folder is used to make a VENV on Windows.
No use moving repo data to `docs`.
Putting all the `requirements-*.txt` together would be hard since win10toast exists only on Windows. Some modules are unavailable on Linux and mac

[2022-01-17 06:27] im-coder-lg commented on #52
Maybe let's make a `cleanup` branch and clean up the entire code. I'll try reformatting the website using Prettier and try Jest(idk they call it code coverage, what's it used for?) and use `black` and other Python code formatters to format the code neatly.

[2022-01-17 06:27] not-nef commented on #52
Nonono, you understood me wrong. We can keep the files seperate, just move them all in one folder

[2022-01-17 06:27] sumeshir26 commented on #52
Yeah, will do

No, because it is not python convention to put in in a folder

Yes, will do

[2022-01-17 06:29] im-coder-lg commented on #52
I hate the GitHub UI. Makes it hard to locate new comments while on that page. They need to fix that.

[2022-01-17 06:29] not-nef commented on #52
Well, we would have 4 less files in the root dir

[2022-01-17 06:29] im-coder-lg commented on #52
Those files _must_ be in the repo dir. Don't blame me, it's GitHub convention.

[2022-01-17 06:30] not-nef commented on #52
No, they dont

[2022-01-17 06:31] im-coder-lg commented on #50
You are outside? If it's school, how the heck did your teachers allow you to chat with us?

[2022-01-17 06:31] not-nef commented on #52
![image](https://user-images.githubusercontent.com/83908932/149719055-e628707e-b538-4aba-b770-c5e182840d0a.png)

![image](https://user-images.githubusercontent.com/83908932/149719064-e4d93fcb-2acd-45c5-b855-763bd3a7702f.png)

![image](https://user-images.githubusercontent.com/83908932/149719069-622b0a98-bee3-4016-a4ba-c82dfb9a37b3.png)

[2022-01-17 06:32] im-coder-lg commented on #52
Great, I'll edit this in the `cleanup` branch now.

[2022-01-17 06:32] im-coder-lg commented on #52
Also, don't get me wrong, I am putting a collapsor via HTML so that we could save some screen space.

[2022-01-17 06:33] not-nef commented on #52
wut

[2022-01-17 06:34] sumeshir26 commented on #50
I guess he is on his school laptop/chromebook. I also used to check GH notifs a while back when I used to live in the US

[2022-01-17 06:34] not-nef commented on #52
Epic

[2022-01-17 06:34] im-coder-lg commented on #52
Following conventions might give you a solid five-star rating since everything is organized. That's my motto. I like a neat workspace, it's a habit.

[2022-01-17 06:36] im-coder-lg commented on #52
Moreover, the collapsor is literally this:
[code]
Done.

[2022-01-17 06:39] im-coder-lg commented on #50
Wow. I could never do that lol. But make sure the classes are over. I am starting my work now. Enough of slacking for me.

[2022-01-17 06:40] sumeshir26 commented on #52
If you see any big python repos, the requirements file is NEVER in a folder

[2022-01-17 06:41] im-coder-lg commented on #52
They just keep them in a file and make sure they use cross-platform modules.

[2022-01-17 06:53] not-nef commented on #52
but we have 3 of them

[2022-01-17 07:00] im-coder-lg commented on #52
I think it's best to let them be.

[2022-01-17 07:04] not-nef commented on #50
they dont, i use my ipad. im gonna focus on school now, bye

[2022-01-18 05:37] im-coder-lg commented on #52
I'm also helping here. Basically, I think cleaning up the repo would also include organizing the files, so I am also assigning this to myself.

[2022-01-18 06:29] sumeshir26 opened #56 "Add Update System"
**Is your feature request related to a problem? Please describe.**
Currently, TimerX does not have a update system

**Describe the solution you'd like**
A Update button in the about window in the long run. In the short run, a Upgrade Code can be added to keep config but still update and use the same AppData folder.

**Describe alternatives you've considered**
_None_

[2022-01-18 10:51] not-nef commented on #56
Cool idea, gonna add this to my todo list!

[2022-01-18 11:33] im-coder-lg commented on #56
Maybe send a daily ping to GitHub for new releases and if it exists, getting the MSI using some module. If we are on Linux or macOS, `wget` must be preinstalled, so we could try using that to get installers.

[2022-01-18 12:55] #52 closed

[2022-01-19 05:14] sumeshir26 opened #59 "Performance Issue"
# The Problem
After running a test side-by-side of the Windows 11 clock app and TimerX of 30 Minutes, TimerX lags 22 seconds behind.
# Cause
TimerX does not use a actual timer, it just waits for a second  and then takes a few milliseconds to process it(Update `time_display`, `seconds_left`, etc .). Those milliseconds add up and cause a lag.
# Possible Solutions
- Use a Process using `multiprocessi

[2022-01-19 05:24] not-nef commented on #59
time.clock seems like the best solution to me

[2022-01-19 06:06] im-coder-lg commented on #59
We could try options 2 and 3, the only problem is that if you are compiling with option 3, you need C# tools. I guess that's a pain. I'd prefer option 2 since that'd make compiling easier.

[2022-01-22 03:08] im-coder-lg commented on #59
A question - does `time.clock` consume huge chunks of RAM?

[2022-01-22 04:16] sumeshir26 commented on #59
No Idea, the last time I messed with that was over a year ago, I at that time more than making semi-polished apps, I just wanted to learn

[2022-01-22 04:18] im-coder-lg commented on #59
But does it? Why not integrate it before Republic Day?

[2022-01-22 04:43] sumeshir26 commented on #59
I'll try

[2022-01-22 07:52] im-coder-lg commented on #56
I'll try making a basic Tk UI on this, don't blame me. I am giving a heads-up that I am installing Replit so that we could make REPLs for repos here. Moreover, this would help others to create REPLs too.

[2022-01-22 09:29] im-coder-lg commented on #56
I think I hit a jackpot on this. Maybe this could be my well-worth first feature of the app. Testing on the branch [here](https://github.com/TimerX-App/TimerX-Update-Test/tree/im-coder-lg/simple-gui), if you got something for this, test it and then commit it there.

[2022-01-24 04:11] im-coder-lg commented on #56
Wait, why did you assign _me_ of all people?
Alright, I accept it. Now what?

[2022-01-24 04:16] sumeshir26 commented on #56
I thought you were working on it on the other repo?

[2022-01-24 04:19] im-coder-lg commented on #56
I did a simple local test of unifying the update system with the upstream(https://github.com/TimerX-App/TimerX) code. It failed horribly. However, the update window does work. Maybe I need to rewire more of the code to the upstream code, which I am adding now _here_. Kind of like a link, idk how it'd work out.
Can you tell me where you got the Fluent icons? I know you posted it, but I need it now

[2022-01-24 04:28] sumeshir26 commented on #56
fluenticons.co

[2022-01-24 04:28] im-coder-lg commented on #56
Okay... One part of merging succeeded. I am uploading the changes now. Will link the commit to this.

[2022-01-24 04:28] im-coder-lg commented on #56
Thanks for the link!

[2022-01-24 04:53] im-coder-lg commented on #56
Read description in 34769d3 to run.

[2022-01-24 04:54] im-coder-lg commented on #56
Commit not highlighted?

[2022-01-24 04:57] sumeshir26 commented on #59
Started work on this!

[2022-01-24 05:57] im-coder-lg opened #64 "Theme doesn't load"
### Discussed in https://github.com/TimerX-App/TimerX/discussions/63

<div type='discussions-op-text'>

<sup>Originally posted by **not-nef**, January 24, 2022</sup>
Yesterday i tried to compile timerx on my pc. It was horrible. The theme didnt load, and the blurring didnt work. If the github actions builds also look like that, we cant release tomorrow</div>

We must fix this before the Republic D

[2022-01-24 06:05] im-coder-lg commented on #64
@sumeshir26 can you please check if the same applies to you? And if you have a fix, can you commit it?

[2022-01-24 06:12] im-coder-lg commented on #56
Alright, I'll be frank with you. I don't know what I should do now! Tell me what I should do and I will do it after Republic Day. Till then, our biggest priority is #64.

[2022-01-24 06:22] sumeshir26 commented on #64
@im-coder-lg I am facing the same issue. I might know a fix...

[2022-01-24 06:54] sumeshir26 commented on #64
Based on the window, it is the same problem you had in the Blur PR. How did you fix it?

[2022-01-24 06:56] im-coder-lg commented on #64
Who? Me? It was the theme! It works like this: Config is saved. If it's system, it mimics Windows 7, if it's Light or Dark, it uses Blur there. Afaik, dark mode's blur worked better.

[2022-01-24 17:59] not-nef commented on #64
It was fixed in the source code. This has to be an issue with cx_freeze because when starting the app from source it works fine.

[2022-01-24 18:19] not-nef commented on #64
![image](https://user-images.githubusercontent.com/83908932/150841002-185700cc-c208-4ada-8d90-b189a8b1065f.png)

I think the highlighted line causes the build to cancel. Does anyone know what it means? @TimerX-App/reviewers

[2022-01-25 02:02] im-coder-lg commented on #64
Hmm... I will test this soon.

[2022-01-25 03:11] sumeshir26 commented on #64
@not-nef I get this error:
![image](https://user-images.githubusercontent.com/68823982/150904026-5e36b26c-c0d4-4a64-b2c7-01ae1aa2829d.png)

[2022-01-25 04:21] sumeshir26 commented on #64
@im-coder-lg How did you fix this: https://github.com/TimerX-App/TimerX/pull/46#issuecomment-1015155905?

[2022-01-25 04:34] im-coder-lg commented on #64
Just switched the theme.

[2022-01-25 04:44] im-coder-lg commented on #64
And also restarted the app.

[2022-01-25 04:55] im-coder-lg commented on #64
I think it's related to the Blur PR. This happens due to DarkDetect. If you set it to System, it will use basic Tk UI with transparency. If you put light or dark mode, it will NOT apply blur and stick with transparency. I think it's due to the `-transparency` tag in the code.

[2022-01-25 05:15] sumeshir26 commented on #64
@im-coder-lg Yes, now that I set the default theme in `utils.py` as Light, the issue is fixed. The System option is messed up. We could completely disable the `System` option until we find a fix.

[2022-01-25 05:40] not-nef commented on #64
When is republic day?

[2022-01-25 05:42] not-nef commented on #64
I will do that after school

[2022-01-25 05:43] not-nef commented on #64
That seems to happen, but i see no explanation to that. This must be a bug

[2022-01-25 05:49] im-coder-lg commented on #64
26 Jan in India. Wikipedia will tell you more about the specialty. Also, I think we shouldn't use Darkdetect, that was the thing that made the problem. It mimicked Windows 7.

[2022-01-25 05:55] not-nef commented on #64
I could make it exclusive for windows 10 and 11

[2022-01-25 06:00] im-coder-lg commented on #64
Try that now.

[2022-01-26 05:10] #64 closed

[2022-01-26 12:44] not-nef opened #69 "Full screen mode"

[2022-01-27 06:48] sumeshir26 commented on #69
We could use these assets:
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAYAAADL1t+KAAAgAElEQVR4Xu3dj3UUR7bAYUQEOANBBDiChyOwnQGO4EEExhHARmA2AvMiMBmYTQAmgyUCeNUw2PyRNN09XV23bn2c47N7jnu6q75b6OcRQrq45RcBAgQIECDQvcBF9zuwAQIECBAgQOCWoDsEBAgQIEAggYCgJxiiLRAgQIAAAUF3BggQIECAQAIBQU8wRFsgQIAAAQKC7gwQIECAAIEEAoKeYIi2QIAAAQIEBN0ZIECAAAECCQQEPcEQbYEAAQIECAi6M0CAAAECBBIICHqCIdoCAQIECBAQdGeAA

[2022-01-27 17:25] not-nef commented on #69
??

[2022-01-28 03:37] sumeshir26 commented on #69
![image](https://user-images.githubusercontent.com/68823982/151483111-00376ba9-7fc9-4b45-9d92-a2b872bf8f36.png)

[2022-01-28 03:39] im-coder-lg commented on #69
Fluenticons? If yeah, then we could use a `command: lambda fullscreen` function and `def`ine it beforehand.

[2022-01-28 04:25] im-coder-lg opened #71 "New screenshot on account of v1.0"
Invoked from triage board/roadmap.

[2022-01-28 04:26] im-coder-lg commented on #71
From the project. @sumeshir26 or @not-nef can you add a newer screenshot since 1.0 is out and UI has changed a lot?

[2022-01-28 04:53] sumeshir26 commented on #71
I'll do it

[2022-01-28 05:00] sumeshir26 commented on #71
Which one do you like?
![image](https://user-images.githubusercontent.com/68823982/151489694-6ef8cf74-7e30-4b8e-90bd-15059e525828.png)
![image](https://user-images.githubusercontent.com/68823982/151490060-3b025c71-a95c-4d44-ae5e-e191b9c3f54c.png)

[2022-01-28 05:06] im-coder-lg commented on #71
Both look fantastic. Let's add both with light mode and dark mode text below them. Maybe like using the quote markdown syntax for Light and Dark mode. Like this?
[code]

[2022-01-28 05:11] sumeshir26 commented on #71
Ok, Making A PR...

[2022-01-28 05:28] not-nef commented on #69
Will definitely use that

[2022-01-28 05:51] im-coder-lg commented on #71
Closed on merge of #72.

[2022-01-28 05:51] #71 closed

[2022-01-31 01:48] im-coder-lg commented on #56
I'll start a Repl today, @sumeshir26 can you join it? It would be between 9 AM to 10 AM IST.

[2022-01-31 02:48] sumeshir26 commented on #56
OK, no prob

[2022-01-31 03:21] im-coder-lg commented on #56
Starting in 10 minutes, or maybe five, who knows?

[2022-01-31 03:24] sumeshir26 commented on #56
Ok, logging in...

[2022-01-31 03:49] im-coder-lg commented on #56
Did you get any problems? I see you on .replit only

[2022-02-03 04:16] sumeshir26 commented on #59
_Closing as Resolved_

[2022-02-03 04:16] #59 closed

[2022-02-03 04:26] sumeshir26 opened #77 "Blur dosent Work on Linux"
**Describe the bug**
Error while Running App

**To Reproduce**
Steps to reproduce the behavior:
1. Run app on Linux

**Expected behavior**
Blur works nicely.

**Screenshots**
![image](https://user-images.githubusercontent.com/68823982/152280297-64c48367-7b0c-481d-b148-fd91ccdddeba.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu WSL
 - Version: 21

**Additional context*

[2022-02-03 05:40] not-nef commented on #77
Well first of all, you arent forced to have pygobject. And maybe the -transparent flag isnt supported on linux.

[2022-02-03 05:41] not-nef commented on #77
I think i know a solution, will commit next week

[2022-02-03 10:33] im-coder-lg commented on #77
I can say this error happens since the `-transparent` tag works only on Windows. Let's try searching for another blur module. @not-nef you might remember me discouraging Blur on the PR in the beginning, and it was due to this. So, let's start looking up for another replacement and try implementing this. _Or_, we could add a Blur toggle.

[2022-02-04 12:58] im-coder-lg opened #78 "chore(issue_ver): Update repo link in netlify"
@sumeshir26

[2022-02-05 07:34] sumeshir26 commented on #78
Done!

[2022-02-05 07:34] #78 closed

[2022-02-08 08:04] #56 closed

[2022-02-08 08:04] sumeshir26 commented on #56
Done by #83

[2022-02-08 19:28] im-coder-lg commented on #69
Can we reopen this? You are supposed to close issues after PRs are merged, not when they are made. I'll reopen and use a GitHub symlink to close this issue on merge.

[2022-02-08 19:47] not-nef commented on #69
Okay

[2022-02-15 14:12] sumeshir26 commented on #69
Fixed on master

[2022-02-15 14:12] #69 closed

[2022-02-18 16:47] not-nef opened #92 "Blur overexposures on light mode"

[2022-02-21 12:31] #50 closed

[2022-02-22 05:28] not-nef opened #93 "Switch to win32mica"
Will do soon!

[2022-02-22 16:59] rdbende commented on #93
Though you should also keep Acrylic for Win10, since Mica is Win11-only.

[2022-02-22 19:15] not-nef commented on #93
Okay. I tested win32mica today and for some reason it didnt work. The instructions also aren't the best.

[2022-02-22 19:27] rdbende commented on #93
You need Windows 11 build 22000 and above to be able to use the Mica effect.

[2022-02-23 03:17] sumeshir26 commented on #93
@rdbende build 22000(Currently Stable and Beta Channel- I'm on beta) has the undocumented mica which is not very customizable but, build 22523(Dev Channel) has a pulic mica api, which has a more reliable and customizable mica than 22000

[2022-02-23 05:35] sumeshir26 commented on #93
I started work on this here: https://github.com/Futura-Py/TimerX/tree/sumeshir26/mica
But I get a error. Does anyone know how to fix this?

[2022-02-23 05:47] not-nef commented on #93
![image](https://user-images.githubusercontent.com/83908932/155267695-71cee5b7-2586-47bd-8051-ab5de9b05469.png)

Two tabspaces

[2022-02-23 06:01] sumeshir26 commented on #93
I know, fixing later

[2022-02-23 10:23] im-coder-lg commented on #93
What's happened recently other than merges and reviews as well as this?
PS: I will be offline for a few days(expected to be two fortnights), since I must catch up to schoolwork as well as make a science project, do my final exams+attend bridge course for next year. Will help when free though.

[2022-02-23 11:31] sumeshir26 commented on #93
@im-coder-lg Not much, just work was started on mica support, and some code cleanup

[2022-02-23 11:56] im-coder-lg commented on #93
Hmm, add a toggle for it. I think I don't need Mica since Windows Aero does my job. Also, can anyone add blur toggles with the functionality to show the incompatibility popup on unsupported systems?

[2022-02-23 12:47] not-nef commented on #93
Will add that after 1.1

[2022-02-25 06:26] sumeshir26 opened #95 "Rewrite app with OOP"

[2022-02-25 10:23] im-coder-lg commented on #95
Hmm, object oriented... Python is already OOP, so I don't understand.

[2022-02-25 16:49] not-nef commented on #95
What is oop

[2022-02-25 17:01] im-coder-lg commented on #95
Object Oriented Programming. Kinda like C++ and Java.

[2022-02-25 17:01] im-coder-lg commented on #95
It's a damn interesting thing. Problem is, Python is high level as well as OOP oriented... @sumeshir26 what do you _exactly_ mean?

[2022-02-26 06:26] not-nef commented on #95
No i hate that

[2022-02-26 06:31] not-nef commented on #95
I dont like it, its confusing

[2022-02-26 09:22] #93 closed

[2022-02-26 09:56] im-coder-lg opened #97 "setAlwaysOnTop() error on switching themes"
**Describe the bug**
In Line 460:
https://github.com/Futura-Py/TimerX/blob/d18616cb5a15a20a5b3f51e50a33e33cae64a9a7/main.py#L460

It takes only one positional arg but two(`app`) were given. Luckily, I know a fix.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to Terminal
2. Run TimerX via Python
3. Experience error
**Expected behaviour**
Supposed to launch with no errors.

**Screenshot

[2022-02-26 10:00] im-coder-lg commented on #97
Only thing is, it seems so unrelated, but I fixed it on my Raspberry Pi. Wait, just getting it set up for pushing.

[2022-02-26 10:05] not-nef commented on #97
Well just remove the parameter lmao. Its no big deal

[2022-02-26 10:09] #97 closed

[2022-02-26 10:09] sumeshir26 commented on #97
Why create  bug report for such a small bug? You cn commit these kinds of things directley

[2022-02-26 10:19] im-coder-lg commented on #97
If I do that, I'd accidentally add bloatfiles.

[2022-03-02 06:23] sumeshir26 opened #101 "Turd, I messsed up, dont commit anything until i say so since i accidently pushed to master instead of a branch. Reverting..."

[2022-03-02 10:15] im-coder-lg commented on #101
Hmm... Maybe yeah, I'll try it.

[2022-03-02 10:16] im-coder-lg commented on #101
Wth @sumeshir26 you too in the swear group? Lol

[2022-03-02 10:16] im-coder-lg commented on #101
That's a bit better.

[2022-03-02 10:59] im-coder-lg commented on #101
Also @sumeshir26 from now, try using Linux as your dev OS. It has ZSH, which has plugins like git, so you can know which branch you are on before pushing. Just a suggestion - if you want, try using a Raspberry Pi with Ubuntu.

[2022-03-02 11:17] im-coder-lg commented on #101
ALright - I'm using Gitpod, it will push to my fork of TimerX, but I could rebase the changes, so plus and minus = zero?

[2022-03-02 11:57] sumeshir26 commented on #101
im so sorry for ghe disturbance

[2022-03-02 12:00] im-coder-lg commented on #101
It's fine, but be careful with git from now! That's why I recommend you use Linux, ZSH with the ohmyzsh plugins.

[2022-03-02 12:00] im-coder-lg commented on #101
Also, you really swear?

[2022-03-02 12:10] sumeshir26 commented on #101
no, i dont like to swear, espesiallay stuff like f***

[2022-03-02 12:17] #101 closed

[2022-03-02 12:21] im-coder-lg commented on #101
Yeah, even me.

[2022-03-06 19:32] rdbende opened #103 "Problem"
@sumeshir26 i see, you copied this part from Tukaan, but did you ever test it? (No). This code won't work as it is.

https://github.com/Futura-Py/TimerX/blob/f1a83751a3f0ba2e334a48cc2c4b3b7be33408e2/main.py#L62-L69
`tkinter.Tk` (`app` in this case) doesn't have neither `_dwm_set_window_attribute`, `DWMWA_TRANSITIONS_FORCEDISABLED`, `minimize` nor `restore` attribute.

In tkinter you should use `ic

[2022-03-07 03:03] sumeshir26 commented on #103
I realized that, but I forgot to fix it. Fixing now... Thanks for reporting!

[2022-03-07 13:35] sumeshir26 commented on #103
Well, it iconifies and deiconifies, but it turns out thta on Windows 11, the expose function gets called about 25 times with the prev_state as zoomed (Probably due to te smooth animation that playes while unmaximizing) _and_ the animations dont get disabled properley, so my entire PC became unusable due to TimerX maximizing and unmaximizing, then the expose function gets called again due to the wi

[2022-03-07 13:35] sumeshir26 commented on #103
Any idea on how to fix this?

[2022-03-07 14:09] rdbende commented on #103
Uhh, stange. Try binding to `<Configure>`.

Also, I updated the function (unindent the last line) because prev_state would have been updated only the first time the window was unmaximized (and not anymore), which could cause problems.

[code]

[2022-03-07 14:11] sumeshir26 commented on #103
Yeah, I also did that, will try soon

[2022-03-09 03:44] sumeshir26 commented on #103
Configure does not work either, it just keeps maximizing and unmaximizing

[2022-03-09 04:43] sumeshir26 commented on #92
@not-nef Any Updates?

[2022-03-09 06:44] not-nef commented on #92
Didnt work on TimerX for the last days, but i will maybe look into it today

[2022-03-17 06:09] not-nef commented on #92
nvm

[2022-03-17 10:30] im-coder-lg commented on #92
I'll try adding a toggle :thinking:

[2022-03-29 15:17] im-coder-lg commented on #103
What if you could control the minimum number of resizes? Maybe only once or twice, nothing more.

[2022-04-12 09:58] sumeshir26 opened #108 "Switch to ntkutils"

[2022-04-12 09:59] sumeshir26 commented on #108
If you want

[2022-04-12 10:01] im-coder-lg commented on #108
Wait, can we host our own superset of tools? Could be easier in case we are making other apps too, right?

[2022-04-12 10:20] not-nef commented on #108
I already did switch to ntkutils

[2022-04-12 10:21] im-coder-lg commented on #108
Which repo? Timex or FPC?

[2022-04-12 10:23] im-coder-lg commented on #108
You told about FPC lol... Let's switch to ntkutils.

[2022-04-12 10:24] not-nef commented on #108
Ah damn wrong repo sorry

[2022-04-12 10:25] not-nef commented on #108
Im happy to see my module getting more attention 😊

[2022-04-12 10:35] im-coder-lg commented on #108
I am thinking of making some 80's video games with python, interested to host another module symbolizing the good old times?

[2022-04-12 10:36] im-coder-lg commented on #108
Easing it out is best than getting a lot of import lines.

[2022-04-12 10:40] not-nef commented on #108
You want to make a module for games?

[2022-04-12 23:06] im-coder-lg commented on #108
Yeah!

[2022-04-13 09:46] not-nef commented on #108
May i offer myself to set you up a python module repo? Just create one and give me collab acces!

[2022-04-13 11:19] im-coder-lg commented on #108
Fine, I'll try this weekend. I just got COVID vax at school. Literally no joke, they put the needle on my left hand, so I need a two-day break and I'll be back on a nice and great Saturday.
Anyone else got that green tick for COVID vaccinations?

[2022-04-13 11:19] im-coder-lg commented on #108
But I'll try learning how to make a module for this frm YT when free ;)

[2022-04-13 11:35] HuyHung1408 commented on #108
I took Covid vax  fews months ago, a bit hurt in the hand

[2022-04-13 11:42] im-coder-lg commented on #108
Ah almost same. They injected in my left hand and now I am really careful with it, like not letting my sibling touch my hand.

[2022-04-13 12:36] im-coder-lg commented on #108
Y'know, I just realised. To publish to PyPI, I need to use twine which takes my username, so I'll have to remove access to env secrets. I mean that's danger levels, code red if my password is out. So I'll try this myself because I think I found something that can help me. But if I ever need any help, I'll ping you there.

[2022-04-13 15:40] im-coder-lg commented on #108
Twine wont, but GitHub repo secrets will, right? Oh wait, I have an even better idea. But the thing is that Twine should not show my passcode as output. If it does, I'll echo all the output to the void of Linux, /dev/null.

[2022-04-13 16:53] not-nef commented on #108
/shrug

[2022-04-13 22:18] im-coder-lg commented on #108
Tis ain't discord, lad
- some guy on the internet

[2022-04-14 12:51] not-nef commented on #108
lol

[2022-04-14 12:53] not-nef commented on #108
Btw you quote like this

[2022-04-14 16:01] im-coder-lg commented on #108
Oh... Well, the internet is also stupid at cases. Those quote images are placed like that.

[2022-04-14 16:01] im-coder-lg commented on #108
And I made that quote.

[2022-04-19 07:03] Alfex4936 opened #109 "Cannot run the app on Windows 11 dark mode"
Just installed, tried to run the app but it gave me those errors.

![image](https://user-images.githubusercontent.com/2356749/163944856-5715693a-2282-4951-a18b-0b3d2d82730f.png)

windows11 (b22000) using dark mode in settings (Personalize - Color)

[2022-04-19 07:48] im-coder-lg commented on #109
Woah wth never seen that! I'll debug today and find the errors. Does the same happen when you run it directly from Python3.10?

[2022-04-19 08:06] not-nef commented on #109
looks like your theme files are corrupted

[2022-04-19 09:30] im-coder-lg commented on #109
Looks like the system can't read the images in the first place!

[2022-04-19 19:23] rdbende commented on #109
Tk 8.5 gives this same error, when using png-s, since png support was only added in Tk 8.6. Probably this isn't the error, if TimerX was compiled with Tk 8.6, the exe should contain that version, but idk exactly how cx_freeze compiles python files.

[2022-04-19 20:32] not-nef commented on #109
Yeah we should switch to pyinstaller soon.

[2022-04-20 07:46] Alfex4936 commented on #109
will try it later! but on my laptop using Windows 10 (dark mode)

the background is just transparent like this?

![제목 없음](https://user-images.githubusercontent.com/2356749/164177379-431227ee-2295-4fad-9106-79251ee94000.png)

[2022-04-20 07:53] im-coder-lg commented on #109
That's normal. Switch to darkmode and restart the app via CLI, it would look better.

[2022-04-20 08:00] Alfex4936 commented on #109
Oh didnt know that option thanks! now it looks like this sadly

![image](https://user-images.githubusercontent.com/2356749/164179699-fb79f5ed-c059-435d-ac44-9ff17a9be2c0.png)

And if I set the timer for 1h 0m 0s, it just changes to default second when I hit play btn (setting like 1:33:0 works like 1:32:50)?

[2022-04-20 09:50] im-coder-lg commented on #109
Use it in system dark mode, it would look a lot more better ;)

[2022-04-20 09:52] im-coder-lg commented on #109
It's the font colliding with the background, but hold up, the titlebar... Anyone know what that lie of code is?

[2022-04-20 09:56] im-coder-lg commented on #109
But this is indeed a bug, we achieved this at compile-time, hence we either have to switch to PyInstaller, or fix cx_Freeze. Have YOu edited any code in `setup.py`? Could lead to mishaps.
Tagging this as compile error and adding to project to get resolved.

[2022-04-20 09:59] im-coder-lg commented on #109
We have plenty of time in the future since we have got holidays, so we'll try finding a potential bug fix at that time, it's best to investigate this for the time being. This deffo needs some team effort, so doing bug fixing in the holidays would be great since we can work simultaneously.

[2022-04-20 11:21] sumeshir26 commented on #109
Well, No the background isnt supposed to be transperent, it should have acrillic on win10 and mica on win11.
@not-nef can you add the build.bat from Flux to TimerX?

[2022-04-20 12:42] not-nef commented on #109
Will do when i have time

[2022-04-22 13:30] im-coder-lg commented on #109
You know, while rereading this, I found this:

It seems weird, but I don't know how the heck we could find that one line that disrupts this... Sorry to tell this really late, but I have vacations from tomorrow, so can't help at that time :( will try being updated though.

[2022-04-22 13:55] sumeshir26 commented on #109
Ill fix the default sec thing by monday if nobodydoes it tell then

[2022-05-26 12:09] HuyHung1408 opened #110 "Bug: Acrylic goes out of the app"
**Describe the bug**
![Screenshot (1)](https://user-images.githubusercontent.com/86362423/170484910-a2248c3f-d8c5-4859-9938-511e4e18df8c.png)

**To Reproduce**
Properly just happens in Windows 10.

**Desktop (please complete the following information):**

- OS: Windows 10
- Version 21H2 (19044.1706)

[2022-05-26 12:18] #110 closed

[2022-05-26 12:50] not-nef commented on #110
this can be fixed by just disabling mica on windows 10

[2022-06-03 14:48] sumeshir26 commented on #20
@Futura-Py/Reviewers

[2022-06-12 23:40] im-coder-lg commented on #20
Sir, yes, sir! I just have to add some framework. Now my school's making me work into the actual regular timings, so devel would be really slow.

[2022-06-13 07:29] not-nef commented on #20
Guys i just saw we have gh pages, so we wouldnt need to host our website on netlify!

[2022-06-13 10:29] sumeshir26 commented on #20
Yeah!

[2022-06-13 14:27] not-nef commented on #20
mhm

[2022-08-15 00:14] Moosems opened #111 "Mac builds"
See my repo [here](https://github.com/Moosems/PyInstallerBuild) for how to set up mac builds

[2022-08-15 05:54] im-coder-lg commented on #111
I need instructions to implement this.

[2022-08-15 05:55] im-coder-lg commented on #111
Can you tell how?

[2022-08-15 10:31] Moosems commented on #111
Yep, so first of all we need to set up for pyinstaller. You can copy/paste DIP.spec and then edit all mentions of DIP but pretty much fill in the blank and I can look at it later. After that it's just setting up a release with the tag `latest-mac-build`. It will update the dmg in there and should work and be backwards compatible